@font-face {
    font-family: 'Soulcraft';
    src: url('/fonts/Soulcraft.ttf') format('truetype');
}

@custom-media --narrow-window (max-width: 900px);

:root {
    --lrg-txt: 130px;
    --hdng-txt: 80px;
}

@media (--narrow-window) {
	:root {
        --lrg-txt: 15.8vw;
        --hdng-txt: 10vw;
	}
}





body {
    font-family: 'Soulcraft';
}

h1 {
    font-size: var(--lrg-txt);
}

h3 {
    font-size: var(--hdng-txt);
}

h1, h3 {
    font-variation-settings: 'wdth' 30;
    line-height: 0.9;
    word-break: break-word;
    margin: 0 0 16px;
}

p {
    font-size: 18px;
    font-family: Georgia;
    line-height: 1.3;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: inherit;
}